body{
  font-family: 'Tangerine', serif;
  background-image: url("http://s32.postimg.org/hgkhw4gyt/res1.jpg");
  background-position: 50% 50%;
  background-repeat: repeat;
  font-size: 40px;
}

h2{
  font-size: 60px;
}
