doctype html
html(lang="en")
  head
    title miComidita
    link(href='/css/stylehome.css', rel='stylesheet')
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine")
  body
    center
        h1 Cafeteria miComidita Control System
        br
        form(action="/editrawproduct", method="get")
            input(type="submit", value="Raw Products")
